<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加新商品 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../view/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="../view/admin/styles/main.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <form method="POST" action="info_Edit_Act.php" enctype="Multipart/form-data">
        文件：<input type="file" name="addfile" /><br />
        <input type="hidden" name="act" value="addmore" />
        <input type="submit" name="submit" value="提交"/>
    </form>
</body>